body {
  width: 1000px;
}
.align-items-start {
  width: 20%;
}
.tbl-qa {
  width: 98%;
  font-size: 0.9em;
  background-color: #f5f5f5;
}
.tbl-qa th.table-header {
  padding: 5px;
  text-align: left;
  padding: 10px;
}
.tbl-qa .table-row td {
  padding: 10px;
  background-color: #fdfdfd;
}
.ajax-action-links {
  color: #09f;
  margin: 10px 0px;
  cursor: pointer;
}
.ajax-action-button {
  border: #094 1px solid;
  color: #09f;
  margin: 10px 0px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
}
