@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d3557;
  background-size: cover;
}

.contact .content {
  text-align: center;
  color: #120203;
  font-weight: 500;
  font-size: 18px;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content h2 {
  font-weight: 300;
  color: #fff;
}

/*------------------------------------------Contact Media Effect-------------------------------------*/

.contactConnect{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contactConnect ul{
  list-style: none;
  position: relative;
  display: inline-block;
}

.contactConnect ul .text{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ef8089;
  color: #eee;
  line-height: 50px;
  border-radius: 50px;
  font-size: 22px;
  pointer-events: none;
  transition: opacity .5s .75s ease-out;
}

.contactConnect ul:hover .text{
  opacity: 0;
  transition: opacity .5s .125s ease-out;
}

.contactConnect ul li{
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #ef8089;
  line-height: 55px;
  margin: 0 -16px;
  border-radius: 0px;
  transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out;
}

.contactConnect ul li:hover{
  background: #e63746;
}

.contactConnect ul li a i{
  color: #eee;
  font-size: 22px;
  opacity: 0;
  transition: opacity 1.7s;
}

.contactConnect ul:hover li a i{
  opacity: 1;
}

.contactConnect ul li:nth-child(1){
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.contactConnect ul li:nth-child(4){
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.contactConnect ul:hover li{
  border-radius: 50px;
  margin: 0 3px;
}

/*----------------------------------------Contacts Info -----------------------------------------*/
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-info{
  position: relative;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.container-info .box{
  position: relative;
  width: 300px;
  height: 150px;
  margin: 15px;
  background: #fff;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
}

.container-info .box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.container-info .box:hover .imgBx{
  transform: scale(0);
  transition-delay: 0s;
}

.container-info .box .imgBx img{
  max-width: 50px;
}

.container-info .box .content-info{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: 0.5s;
  background: #ff3579;
  transform: scale(0);
  transition-delay: 0s;
}

.container-info .box:hover .content-info{
  transform: scale(1);
  transition-delay: 0.5s;
}

.container-info .box:nth-child(2) .content-info{
  background: #2ba1ff;
}

.container-info .box:nth-child(3) .content-info{
  background: #c630e0;
}

.container-info .box .content-info .icon img{
  max-width: 50px;
  filter: invert(1);
}

.container-info .box .content-info h3{
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 20px;
}

.container-info .box .content-info p{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/*-------------------------------------------------------------------------------------------------*/

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox textarea {
  width: 100%;
  height: 35px;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: all 0.5s ease;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

/*-----------------------------------------------Effect Button--------------------------------*/

.contactForm .effect-submit{
  display: flex;
}

.contactForm .effect-submit a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #ef8089;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  font-weight: 700;
}

.contactForm .effect-submit a:hover {
  color: #120203;
  background: #ef8089;
  box-shadow: 0 0 10px #ef8089, 0 0 40px #ef8089, 0 0 80px #ef8089;
  transition-delay: 1s;
}

.contactForm .effect-submit a span {
  position: absolute;
  display: block;
}

.contactForm .effect-submit a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ef8089);
}

.contactForm .effect-submit a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.contactForm .effect-submit a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ef8089);
}

.contactForm .effect-submit a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.contactForm .effect-submit a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ef8089);
}

.contactForm .effect-submit a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.contactForm .effect-submit a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ef8089);
}

.contactForm .effect-submit a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

@media (max-width: 1199px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm,
  .contactConnect {
    width: 100%;
  }
}

/*--------------------------------FOOTER---------------------------------------------------*/
/*--------------------------------FOOTER - TOP---------------------------------------------------*/

#footer {
  background-color: #1c1c1c;
}

#footer .footer-top {
  color: #8a92a2;
  text-align: center;
  padding: 30px 80px;
}

#footer .footer-top h4 {
  font-size: 18px;
}

#footer .footer-top .footer-phone {
  display: inline-block;
  padding-top: 15px;
  font-size: 32px;
}

#footer .footer-top p {
  padding: 10px 0;
}

#footer .footer-top ul {
  display: flex;
  width: 100%;
  list-style-type: none;
}

#footer .footer-top ul li {
  flex: 50%;
  text-align: center;
  transition: all 0.5s;
}

#footer .footer-top ul .icon-fa > i {
  background-color: #34a853;
  color: #fff;
  font-size: 23px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: 0.5s;
}

#footer .footer-top ul .icon-fa > a {
  color: #34a853;
  text-decoration: none;
  font-size: 25px;
  transition: 0.5s;
}

#footer .footer-top ul .icon-fa > a:hover {
  color: #3767a9;
}

#footer .footer-top ul .icon-fa > span.info-name {
  display: block;
  color: #969696;
  font-size: 15px;
}

@media only screen and (max-width: 767px) {
  #footer .footer-top {
    padding: 0;
    padding-bottom: 20px;
  }
  #footer .footer-top ul {
    flex-direction: column;
  }
  #footer .footer-top ul .icon-fa > a,
  #footer .footer-top ul .icon-fa > span.info-name {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }

  #footer .footer-top ul .icon-fa > i {
    width: 100%;
    text-align: center;
    font-size: 13px;
    width: 40px;
    height: 40px;
  }
}

/*--------------------------------FOOTER - INFO---------------------------------------------------*/

#footer .footer-info {
  display: flex;
}

#footer .footer-info .footer-sec {
  flex: 33%;
  margin-left: 100px;
}

#footer .footer-info .footer-sec ul {
  list-style-type: none;
  position: relative;
}

#footer .footer-info .footer-sec h2 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

#footer .footer-info .footer-sec h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

/*Hover Effect ---- Footer Info*/

#footer .footer-info .footer-sec ul li:not(:last-child) {
  margin-bottom: 10px;
}

#footer .footer-info .footer-sec ul li {
  position: relative;
  left: 0;
  color: white;
  margin: 4px 0;
  list-style: none;
  border-left: 2px solid #4b86aa;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

#footer .footer-info .footer-sec ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4b86aa;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

#footer .footer-info .footer-sec ul li:hover {
  left: 10px;
}

#footer .footer-info .footer-sec ul li a {
  position: relative;
  padding: 8px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  text-decoration: none;
  color: white;
}

#footer .footer-info .footer-sec ul li:hover a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

#footer .footer-info .footer-sec ul li:hover::before {
  transform: scaleX(0.8);
}

/*Hover Effect ---- Footer Info Social link */

#footer .footer-info .footer-sec .social-link a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #3767a9;
  transition: 0.4s linear;
}

#footer .footer-info .footer-sec .social-link a::before,
#footer .footer-info .footer-sec .social-link a::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.4s linear;
}

#footer .footer-info .footer-sec .social-link a:hover {
  transform: scale(0.8);
}

#footer .footer-info .footer-sec .social-link a:hover::before {
  border-left: 4px solid;
  border-right: 4px solid;
  transform: skewX(20deg);
}

#footer .footer-info .footer-sec .social-link a:hover::after {
  border-top: 4px solid;
  border-bottom: 4px solid;
  transform: skewY(-20deg);
}

#footer .footer-info .footer-sec .info nav a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  #footer .footer-info {
    flex-direction: column;
  }

  #footer .footer-info .footer-sec {
    margin-top: 10px;
  }
}
