body {
  background-color: #f1faee;
  background-repeat: repeat-x;
}


html {
  scroll-behavior: smooth;
  font-family: "Poppins";
}

ul {
  list-style-image: linear-gradient(to left bottom, red, white);
}

#fixed-background {
  position: fixed;
  opacity: 50%;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Poppins";
  line-height: 20px;
  color: #b1b4bd;
  background-color: black;
}

a {
  color: #b1b4bd;
  font-weight: 500;
}

a:hover {
  color: #ef8089;
}

.header-background {
  position: static;
  display: block;
  overflow: visible;
  top: 0;
  margin-bottom: 32px;
  margin-left: 1px;
  margin-right: 1px;
  padding-bottom: 70px;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(50, 58, 69, 0.9))
  );
  background-image: linear-gradient(
      180deg,
      rgba(50, 58, 69, 0.55),
      rgba(50, 58, 69, 0.74)
    ),
    url(../image/background.jpg);
  flex-direction: column;
  background-position: 0px 0px 100% 50%;
  background-size: auto, cover;
  white-space: normal;
  object-fit: fill;
  -o-object-fill: fill;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-direction: column;
  -ms-flex-direction: column;
}
/* dropdown menu */
.dropdown:hover .dropdown-menu {
  background-color: #f1faee;
}
.dropdown:hover .dropdown-menu .dropdown-item:active {
  background-color: #f44336;
}
/* end of drop down menu */

.sticky-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  padding: 20px;
  z-index: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: rgba(12, 32, 59, 0.5);
}

.navbar .navbar-brand a {
  padding: 1rem 0;
  display: block;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #f1faee;
  font-size: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1.4 rem 1 rem;
  font-size: 1.2rem;
  position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #e74c3c;
}

.logo {
  justify-content: right;
}
.logo > img {
  width: 80px;
}
/* .btn {
  background-color: #e74c3c;
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #0a3d62;
  color: #fff;
} */

/* Video */
.video-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 8px;
  justify-content: center;
}
.video-container .myVideo {
  text-align: center;
  padding: 4px;
  margin: 2%;
  width: 46%;
  border: 3px solid #333333;
  border-radius: 3px;
  filter: opacity(50%);
}

.video-container .myVideo:hover {
  margin: 1%;
  padding: 2%;
  border: 3px solid #333333;
  border-radius: 2%;
  filter: opacity(100%);
  width: 46%;
  justify-content: center;
}

.video-container .video-text {
  font-size: 1em;
  display: block;
  width: 49%;
  font-family: "Unisect Vnu";
  color: #b1b4bd;
  justify-content: center;
  margin-bottom: auto;
  margin-top: auto;
  display: grid;
  margin-left: 1%;
}
.video-container .video-text:hover {
  margin: auto auto;
  padding: 1%;
  border-radius: 5%;
  background-color: gray;
  color: #f1faee;
}

.video-container .video-text > h2 {
  text-align: center;
  visibility: visible;
  font-family: "Unisect Vnu";
  line-height: 0.9;
  font-size: 40px;
}
/*  */
.showcase {
  height: 600px;
  padding: 140px 100px;
  color: #f1faee;
}

.showcase-container {
  margin-top: 80px;
}

.showcase h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Unisect Vnu";
}

.showcase hr {
  width: 100px;
  margin: auto;
  border-width: 3px;
  border-color: #f44336;
}

.showcase p {
  font-size: 1rem;
  padding-bottom: 20px;
  font-family: "Unisect Vnu";
}

.container-2 {
  display: block;
  color: #f1faee;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(50, 58, 69, 0.9))
  );
  background-image: linear-gradient(
      180deg,
      rgba(50, 58, 69, 0.55),
      rgba(50, 58, 69, 0.74)
    ),
    url(../image/background-2.jpg);
}

.container-2 h2,
h4 {
  text-align: center;
}

.column-layout {
  display: flex;
  flex-wrap: wrap;
}
.column-layout .column--1 {
  text-align: justify;
  width: 46%;
  margin: 2% 2%;
}

.section {
  padding: 40px 0;
}

/* hover */

/* Footer */
.page-wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 11111;
  top: 35px;
}

footer p,
footer strong,
footer b,
footer {
  color: #b0b0b0;
}

.footer-top {
  background: #303030;
  background-size: cover;
  background-position: center;
  padding: 2% 5%;
  font-family: rubik;
}

.footer-top,
.footer-bottom {
  background-color: #1c1f2f;
  padding: 2% 0;
  color: #b0b0b0;
  font-family: rubik;
}
/* color: #99a9b5;
    padding-top: 15px;
} */

.container .customer-column {
  width: 23%;
}
.container .service-column {
  width: 23%;
}
.container .about-us-column {
  width: 23%;
}
.container .customer-column {
  width: 23%;
}

.container-last {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 13% 2% 9%;
}

.footer-site-info {
  font-size: 92.86%;
}

#footer-navigation {
  width: 60%;
}

#footer-navigation,
#footer-navigation li a:hover,
.custom-footer,
.custom-footer li a:hover {
  color: #c82929;
}

#footer-navigation,
#footer-navigation li a,
.custom-footer,
.custom-footer li a {
  color: #99a9b5;
}

.footer-bottom ul {
  margin: 0;
}
.inline-inside {
  font-size: 0;
  line-height: 0;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
#footer-menu {
  display: flex;
  flex-wrap: wrap;
}

#footer-menu li {
  width: 25%;
  display: inline-block;
  position: relative;
  line-height: 1rem;
  text-align: center;
}
#footer-menu li + li:before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  font-size: 0;
  border-left: 1px solid #232234;
  border-right: 1px solid #333146;
}
#footer-navigation,
#footer-navigation li a,
.footer-menu,
.footer-menu li a {
  color: #99a9b5;
  padding-top: 2%;
}

#footer-socials {
  text-align: right;
  width: 40%;
  vertical-align: middle;
  padding-top: 1%;
}

#footer-socials .socials {
  text-align: right;
  vertical-align: middle;
}

a.socials-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 1%;
  line-height: 1rem;
  padding: 2%;
  border-radius: 50%;
  background-color: #141421;
  border: 1px solid #2e2e4c;
  box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4),
    -3px -3px 10px rgba(255, 255, 255, 0.06),
    inset 14px 14px 26px rgb(0, 0, 0, 0.3),
    inset -3px -3px 15px rgba(255, 255, 255, 0.05);
}

.socials-item i {
  display: inline-block;
  font-weight: normal;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 1rem;
  text-align: center;
  vertical-align: top;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.facebook {
  color: #4e64b5;
}

.twitter {
  color: #00aced;
}
.instagram {
  color: #9a8f62;
}
.youtube {
  color: #c82929;
}

.telegram {
  color: #2ca5e0;
}

a.socials-item:hover {
  box-shadow: 0 0px 20px #b84050b5;
  border-color: #b84050b5;
  background: linear-gradient(
    to right,
    rgba(129, 12, 12, 0.129),
    #b84050b5,
    rgba(129, 12, 12, 0.129)
  );
}

.footer-bottom a:hover {
  color: white;
}

footer p,
footer li {
  font-size: 1rem;
  line-height: 1rem;
}

.widget {
  margin-bottom: 5%;
}

.footer-title {
  margin-bottom: 5%;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 5%;
  font-size: 1rem;
  position: relative;
}
.footer-title:after {
  width: 50px;
  background: #fff;
  opacity: 0.2;
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}
footer p,
footer li {
  font-size: 1rem;
  line-height: 2rem;
}

footer p {
  margin-bottom: 5%;
  font-size: 1rem;
}
footer p:hover {
  background-color: #e94957;
  color: #f1faee;
  text-align: center;
  transition: 0.3s;
}
.wpcf7-form-control-wrap .wpcf7-form-control {
  width: 100%;
}

.wpcf7-form-control-wrap input {
  color: #f1faee;
  background: #1c1f2f;
  overflow: hidden;
  border: 1px solid #2e344d;
  background-color: #1c1f2f;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form-control-wrap input:hover {
  background-color: transparent;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03),
    inset 14px 14px 70px rgb(0, 0, 0, 0.2),
    inset -15px -15px 30px rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.wpcf7 .wpcf7-form .contact-form-footer textarea {
  color: white;
  height: 160px;
  width: 100%;
}

.wpcf7-form-control-wrap textarea:hover {
  background-color: transparent;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03),
    inset 14px 14px 70px rgb(0, 0, 0, 0.2),
    inset -15px -15px 30px rgba(255, 255, 255, 0.04);
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.wpcf7-form-control-wrap textarea {
  color: white;
  background: #1c1f2f;
  overflow: hidden;
  border: 1px solid #2e344d;
  background-color: #1c1f2f;
  box-shadow: 10px 10px 36px rgb(0, 0, 0, 0.5),
    -13px -13px 23px rgba(255, 255, 255, 0.03);
  border-radius: 5px;
  transition: all 0.3s ease-in-out 0s;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.wpcf7 .wpcf7-form .contact-form-footer .wpcf7-submit {
  width: 100%;
  padding: 11px;
  margin: 0;
  line-height: 0;
}
.wpcf7-form .contact-form-footer .wpcf7-submit {
  background-color: #394050;
  color: #99a9b5;
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
  text-transform: uppercase;
  outline: none !important;
  background-color: #1c1f2f;
  border-radius: 5px;
  min-width: 140px;
  /* box-shadow: 10px 10px 36px rgb(0,0,0,0.5), -13px -13px 23px rgba(255,255,255, 0.03), inset 14px 14px 70px rgb(0,0,0,0.2), inset -15px -15px 30px rgba(255,255,255, 0.04); */
  box-shadow: 3px 9px 16px rgb(0, 0, 0, 0.4),
    -3px -3px 10px rgba(255, 255, 255, 0.06),
    inset 14px 14px 26px rgb(0, 0, 0, 0.3),
    inset -3px -3px 15px rgba(255, 255, 255, 0.05);
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: #2e344d;
  transition: all 0.3s ease-in-out 0s;
}

.wpcf7-form input[type="submit"] {
  height: 40px;
  line-height: 21px;
  padding: 10px 40px;
  font-size: 14px;
}

.posts li a {
  color: #99a9b5;
}

.wpcf7-form .contact-form-footer .wpcf7-submit:hover {
  box-shadow: 0 0px 20px #b84050b5;
  border-color: #b84050b5;
  background: linear-gradient(
    to right,
    rgba(129, 12, 12, 0.129),
    #b84050b5,
    rgba(129, 12, 12, 0.129)
  );
  color: white;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.widget_gallery a {
  display: inline-block;
}
footer .widget ul {
  list-style: none;
  margin-top: 5px;
}
.widget_gallery ul {
  padding-left: 0;
  display: table;
}

.widget_gallery li {
  display: inline-block;
  width: 33.33%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  padding: 2px;
}

.widget_gallery.gallery-grid-4 li {
  width: 30%;
}

#waterdrop {
  height: 30px;
}

#waterdrop canvas {
  bottom: -70px !important;
}

.footer-site-info {
  padding-top: 10px;
}

/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .video-container .myVideo {
    width: 96%;
    background-color: #f1faee;
  }
  .video-container .video-text {
    width: 96%;
  }
  .video-container .myVideo:hover {
    width: 98%;
  }
  .container .contact-column {
    width: 60%;
  }
}
.dropdown {
  display: none;
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .dropdown {
    display: block;
  }

  .navbar .container-nav {
    justify-content: flex-start;
  }

  .container .customer-column {
    width: 33%;
  }
  .container .service-column {
    width: 33%;
  }
  .container .about-us-column {
    width: 33%;
  }
  .container .contact-column {
    width: 70%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container-2 {
    display: block;
    color: #f1faee;
    background-position: center;
    background-size: cover;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(50, 58, 69, 0.9))
    );
    background-image: linear-gradient(
        180deg,
        rgba(50, 58, 69, 0.55),
        rgba(50, 58, 69, 0.74)
      ),
      url(../image/background-new.jpg);
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .column-layout .column--1 {
    width: 96%;
  }
  .showcase {
    padding: 0% 5%;
  }

  .container .customer-column {
    width: 50%;
  }
  .container .service-column {
    width: 50%;
  }
  .container .about-us-column {
    width: 50%;
  }
  .container .contact-column {
    width: 50%;
  }
  .container-last #footer-navigation {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  .container-last #footer-socials {
    width: 100%;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
